notion-to-meta-ver1.json
{
  "id": "1",
  "name": "Notion to Meta Scheduler",
  "nodes": [
    {
      "parameters": {
        "triggerType": "databaseItemUpdated",
        "databaseId": ""
      },
      "id": "1",
      "name": "Notion Trigger",
      "type": "n8n-nodes-base.notionTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": "",
        "options": {}
      },
      "id": "2",
      "name": "Get Notion Data",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 1,
      "position": [480, 300]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://graph.facebook.com/v19.0/me/photos",
        "jsonParameters": true,
        "bodyParametersJson": "={\n  \"message\": \"{{$node[\"Get Notion Data\"].json[\"text\"]}}\",\n  \"url\": \"{{$node[\"Get Notion Data\"].json[\"image\"]}}\",\n  \"published\": false,\n  \"scheduled_publish_time\": 1714003200\n}"
      },
      "id": "3",
      "name": "Schedule Facebook Post",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [720, 300]
    },
    {
      "parameters": {
        "resource": "page",
        "pageId": "{{$node[\"Get Notion Data\"].json[\"id\"]}}",
        "properties": {
          "Status": "已排程"
        }
      },
      "id": "4",
      "name": "Update Notion",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 1,
      "position": [960, 300]
    }
  ],
  "connections": {
    "Notion Trigger": {
      "main": [
        [
          {
            "node": "Get Notion Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Notion Data": {
      "main": [
        [
          {
            "node": "Schedule Facebook Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Facebook Post": {
      "main": [
        [
          {
            "node": "Update Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "tags": []
}
